
.bicicleta-lista {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    overflow-x: auto;
}

.bicicleta-lista ul {
    display: flex;
    column-gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    /* overflow-x: auto; n funcionou*/
}

.bicicleta-lista li {
    flex: 1;
    min-width: 280px;
}

.bicicleta-lista h2 {
    font: var(--font-1-xxl);
    margin-bottom: 20px;
    padding: 0 20px;
}

.bicicleta-lista h3 {
    display: flex;
    align-items: center;
    font: var(--font-1-m);
    margin-bottom: 8px;
}

.bicicleta-lista h3::before {
    content: "";
    display: inline-block;
    height: 4px;
    width: 12px;
    background-color: var(--cor-p1);
    margin-right: 8px;
    transition: width 0.2s;
}

.bicicleta-lista span {
    font: var(--font-2-m);
    padding-left: 20px;
}

.bicicleta-lista a {
    display: block;
}

.bicicleta-lista a:hover h3::before {
    width: 24px;
}

.bicicleta-lista img {
    margin-bottom: 16px;
}

@media (max-width: 800px) {
    .bicicleta-lista {
        padding-bottom: 60px;
    }
    .bicicleta-lista ul {
        column-gap: 20px;
    }
}