
.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
}


.depoimento img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.depoimento-conteudo {
    align-self: end;
    padding: 40px 40px 80px 80px;
}

.depoimento-conteudo>blockquote {
    font: var(--font-1-xl);
    color: var(--cor-p5);
}

.depoimento-conteudo>blockquote>p {
    max-width: 32ch;
    font-family: Merriweather, serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    position: relative;
}

.depoimento p::after,
.depoimento p::before {
    content: '"';
    font-size: 5rem;
    position: absolute;
    color: var(--cor-p2);
}

.depoimento p::before {

    left: -50px;
    top: -50px;
}

.depoimento-conteudo>blockquote>span {
    font: var(--font-1-m);
    font-weight: bold;
    color: var(--cor-p4);
}

@media (max-width: 800px) {
    .depoimento {
        grid-template-columns: 1fr;
    }
    .depoimento-conteudo {
        padding: 40px 20px;
        justify-self: center;
    }
}