.introducao-bg {
    background: var(--cor-12) url('../../img/dec/bottom-left.svg') no-repeat bottom 20px left 20px;
    
    /* box-shadow: inset 0 -120px var(--cor-0); */
}

.introducao {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px
}

.introducao-conteudo {
    align-self: center;
}

.introducao-img{
    margin-bottom: -120px;
    border-radius: 4px;
}

.introducao img {
    object-fit: cover;
    height: 100%;
}

.introducao h1 {
    margin-bottom: 32px;
    color: var(--cor-0);
    font: var(--font-1-xxl);
}

.introducao h1 span {
    color: var(--cor-p1);
}

.introducao p {
    margin-bottom: 20px;
    color: var(--cor-5);
    font: var(--font-2-l);
}

@media (max-width: 800px) {
    .introducao-bg {
        background: #111111;
        padding-top: 20px;
    }
    .introducao {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
    .introducao h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao img {
        width: 100%;
        height: 300px;
    }
}
